body {
  font-family: Arial, sans-serif;
  background-image: url("resourses/backgrounds/background.png");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

canvas {
  border: 10px solid rgb(244, 0, 0);
}

#levelInDiv {
  top: 0;
  min-width: 100vw;
}
#WelcomeForm,
#EndGameForm,
#WinloseTxt {
  width: 100%;
}

#logs_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  padding: 10px;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  text-align: center;
  align-items: center;
  display: flex;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  flex: 1;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  opacity: 30%;
  color: #000;
}

#Welcome,
#EndGame,
#EndGameForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.patterns-button {
  font-family: Lora;
  letter-spacing: 10px;
  color: #a5e4ff;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #a5e4ff;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;

  animation: buttonAnimate 5s infinite alternate;
}

input[type="button"] {
  font-family: Lora;
  letter-spacing: 10px;
  color: #a5e4ff;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #a5e4ff;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;

  animation: buttonAnimate 5s infinite alternate;
}
@keyframes buttonAnimate {
  0% {
    border-radius: 0 50%;
    /* transform: rotate(0deg); */
    background-color: hsl(189, 68%, 65%);
  }

  100% {
    border-radius: 50% 0;
    /* transform: rotate(360deg); */
    background-color: hsla(189, 68%, 75%, 0%);
  }
}

.patterns {
  height: 100vh;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #a5e4ff;
  font-size: 80px;
  font-weight: 700;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;
}

text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #a5e4ff;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 3;
  color: #a5e4ff;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SignUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-family: Lora;
  letter-spacing: 10px;
  color: #a5e4ff;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #a5e4ff;
  border-radius: 4px;
  padding: 10px 20px;
  box-sizing: border-box;
  animation: inputAnimate 5s infinite alternate;
}

.Login_username {
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background-image: url("resourses/logos/UserNamelogo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}

.SignUp_username {
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background-image: url("resourses/logos/UserNamelogo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}

.Login_password {
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background-image: url("resourses/logos/PasswordLogo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}

.SignUp_password {
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background-image: url("resourses/logos/PasswordLogo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}
#SumbitLogin,
#SumbitSignUp {
  position: relative;
  left: 15%;
}

.SignUp_email {
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background-image: url("resourses/logos/EmailLogo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}
.SignUp_birthday {
  padding: 10px 20px 10px 15px;
  box-sizing: border-box;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  left: 15%;
}

#SignUpForm {
  margin-left: 70px;
}

@keyframes inputAnimate {
  0% {
    background-color: hsl(189, 68%, 75%);
  }

  100% {
    background-color: hsla(189, 68%, 75%, 0%);
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url("resourses/logos/birthdayLogo.png");
  cursor: pointer;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: #444;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.button-wrap {
  position: relative;
  text-align: center;
  top: 0;
  margin-top: -2.5em;
}

@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

input[type="number"]{
  text-size-adjust: 100%;
}

.settingsTable{
  margin-left: auto;
  margin-right: auto;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-background-origin: content-box;
}


.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
  border: #a5e4ff 2px solid;
}

.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

.button-label:hover {
  background: #808080;
  color: #202020;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
    inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#easy-button:checked + .button-label {
  background: #2ecc71;
  color: #efefef;
}

#easy-button:checked + .button-label:hover {
  background: #2dc367;
  color: #d9d9d9;
}

#normal-button:checked + .button-label {
  background: #205582;
  color: #efefef;
}

#normal-button:checked + .button-label:hover {
  background: #205582;
  color: #d9d9d9;
}

#hard-button:checked + .button-label {
  background: #c21a15;
  color: #efefef;
}

#hard-button:checked + .button-label:hover {
  background: #c21a15;
  color: #d9d9d9;
}

#Custom-button:checked + .button-label {
  background: #cc7108;
  color: #efefef;
}

#Custom-button:checked + .button-label:hover {
  background: #cc7108;
  color: #d9d9d9;
}



.hidden {
  display: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

#lastscores th {
  border-bottom: 1px solid #a5e4ff;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.5em 1em;
  text-align: center;
  stroke: #a5e4ff;
  color: #a5e4ff;
}
#lastscores td {
  font-weight: 600;
  padding: 0.65em 1em;
  text-align: center;
  stroke: #a5e4ff;
  color: #a5e4ff;
  font-size: 1em;
}

#lastscores {
  background: #012b39;
  background: rgba(1, 43, 57, 0.5);

  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

dialog {
  width: 60vw;
  height: 60vh;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
/* Style the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.keyboard {
  padding-top: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 20px;
  width: 3%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: #a5e4ff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(0, 0, 0, 0.8);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.keyboard {
  padding-top: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 20px;
  width: 3%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: #a5e4ff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(0, 0, 0, 0.8);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}
